/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* 
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
} */

body {
	/* background: #909eab url(bg.png); */
	font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 20px;
    font-weight: 700; 
    line-height: 24px;
    
}

nav {
	margin: 100px auto; 
	text-align: center;
    margin-top: 10px;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background: #630303; 
	background: linear-gradient(top, #e00606 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #b60505 0%, #3d0101 100%); 
	background: -webkit-linear-gradient(top, #ce0808 0%,#da0d0d 100%); 
	box-shadow: 0px 0px 9px ;
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #960303;
			background: linear-gradient(top, #92061d 0%, #a70830 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a {
				color: #010a0f;
			}
		
		nav ul li a {
			display: block; padding: 25px 40px;
			color: #757575; text-decoration: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
		}	
	nav ul ul {
		background: #f1f3f7; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #094eaf; position: relative;
		}
			nav ul ul li a {
				padding: 15px 40px;
				color: #270202;
			}	
				nav ul ul li a:hover {
					background: #001733;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
    .logo{
  /* background-color:  #151719; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -10%;
}
.logo .waviy {
  position: absolute;
  -webkit-box-reflect: below 20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.logo .waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #4d0404;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes  waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

/* main section */

.new .new-img
{
    width: 100%;
    margin-top: -400px;
}
.new .middle-text
{
    
    font-size: 30px;
    font-style: initial;
    text-align: center;
    gap: 20px 20px;
    margin-top: 30px;
    margin-bottom: 50px;


}

.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: space-around;
    gap: 30px ;
    padding: 20px;
}
.main-section .main-text
{   align-items: center ;
    font-size: 25px;
    font-weight: 700;
    background-color: rgb(230, 24, 24);
    border: 1px solid rebeccapurple;
    border-radius: 10px 3px;
    padding: 10px;
}
.main-section .text-middle
{
    font-size: 15px;
    margin-top: 20px;
    border: 1px ;
    border-style: ridge;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ul-declaration-2
{
    font-size: 18px;
    list-style: none;
}
.main-section img{
    width: 100%;
}

.main-section-4
{
    background: rgb(107, 2, 2);
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.main-section-4 .ul-declatraion-3{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-section-4 .ul-declatraion-3 .new-1
{

    display:inline-block ;
    margin: 0px 10px;
    list-style: circle;
    color: aliceblue;
    font-size: 20px;
}

.main-section-4 .last
{
    color: aliceblue;
    font-size: 30px;
}

.footer-right{
    display: flex;
    gap: 5px;
    align-items: center;
}
.padding{
    padding-left:  30px;
    padding-right:  20px;
   }
