.body-section
{
    display: flex;
    align-items: center;  
    cursor: pointer; 
}
.body-section .head-img
{  
    margin-top: -5px;  
}
.body-section .tittle
{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: -1px 10px   ;
}
.body-section .text-decoration
{
    border: 1px solid red;
    border-radius: 5px 3px;
    padding: 3px;
    margin-top: 2px 2px;
}
.body-section .text-right{
    font-size: 20px;
    font-weight: 600px;
    background-color: lightgoldenrodyellow ;
    border: 4x solid lightgoldenrodyellow ;
    margin-left: 750px;
}
nav 
{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    border-radius: 40px;
    animation: slide-in 2s ease-out;
  }  
  ul 
  {
    position: relative;
    display: flex;
    margin: 0;
    padding:0px 70px;
   
    list-style-type: none;
    li:not(:last-child) {
        margin-right: 60px;
    }
li
 {
      border: 3px solid transparent;
      border-radius: 10px;
      padding: 1px;
      transition: background 0.2s;
      a {
        color: #010c19;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
        font-weight: 500;
      }
      ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        display: block;
        margin: 12px -12px;
        padding: 0;
        background: burlywood;
        border: 2px solid burlywood;
        
        border-radius: 5px;
        transition: opacity 0.2s, visibility 0.2s;
        li {
          margin: -2px 0 0 -2px;
          width: calc(100% - 20px);
          line-height: 1.7;
          a {
            color: #010811;
          }
        }
      }
      &:hover {
        background: burlywood;
        transition: all .4s ease 0.3s;
        
       
        a {
          color: #F9F8FD;
        }
        ul {
          visibility: visible;
          opacity: 1;
          box-shadow: 0px 3px 5px 2px #EBECF1;
          li {
            a {
              color: #F9F8FD;
            }
          }
        }
      }
    }
  }
  @keyframes slide-in {
    
    30%
    {
        top: 20px
    }
  }
  .new .new-img
  {
    margin-top: 5%;
  }
.new .middle-text
{
    font-size: 30px;
    font-style: initial;
    margin-left: 300px ;
    cursor: pointer; 
}
.main{
    border: 1px solid green;
    border-radius: 2px;

}
.main-section{
    display: flex;
    justify-content: space-around;
}
.main-section .main-text
{   align-items: center ;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer; 
    background-color: burlywood;
    padding: 10px;
    margin-left: -10px;
}
.main-section .text-middle
{   cursor: pointer; 
    font-size: 20px;
    margin-top: 20px;
    border: 1px ;
    border-style: ridge;
    padding: 10px;
}
.main-section-2
{
    display: flex;
    justify-content: space-around;
    cursor: pointer; 
}
.main-section-2 .main-text
{
    font-size: 25px;
    align-items: center ;
    margin-left: -13%;
    font-weight: 700;
    background-color: burlywood;
    padding: 10px;
    cursor: pointer; 
}
.main-section-2 .text-middle
{
    font-size: 20px;
    margin-top: -20px;
    border: 1px ;
    border-style: ridge;
    padding: 10px;  
    margin-left: -13%;  
    cursor: pointer;    
}
.main-section-3{
    display: flex;
    justify-content: space-around;
    cursor: pointer; 
    margin-left: -2%;  
}
.main-section-3 .h3-head{
    font-size: 20px;
    background-color:burlywood;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    }
.main-section-3 .ul-declaration-2
{
    list-style: none;
    font-size: 19px;
    display: inline-block;
    margin-left: -60px; 
           
}
.main-section-3 .middle-text
{
    font-size: 18px;
    margin-left:40px;
    border: 1px;
    border-style: ridge;
}
.main-section-4
{
    background: rgb(168, 159, 159);
    display: flex;
    justify-content: space-between;
}
.main-section-4 .ul-declatraion-3 .new-1
{

    display:inline-block ;
    margin: 0px 10px;
    list-style: circle;
    color: aliceblue;
    font-size: 20px;
}
.main-section-4 .imga 
{
    margin-left: 400px;
    margin-top: 45px;
}
.main-section-4 .last
{
    color: aliceblue;
    font-size: 30px;
}